.feature {
    background-color: var(--lightGrayishBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .intro {
        width: 90%;
        margin-bottom: 1rem;
        text-align: center;
        /*60px*/
    }

    & .grid {
        display: flex;
        justify-content: center;
        flex-direction: row;
        /* Center items in the grid */
        width: 100%;
        /* Ensure grid takes full width */
    }

    & .item {
        flex: 1;
        padding: 0.9375rem;
        /*15px*/
    }

    & .icon {
        margin-bottom: 1.5rem;
    }

    & .title {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        color: var(--darkBlue);
    }

    & .description {
        text-align: center;
    }
}