.hero {
    /*class to style the hero portion of our landing page */
    background-color: var(--veryLightGray);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/heroBackground.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 33rem;

    /*hero is divided into image and text sections*/
    & .image {
        position: relative;
        background-image: url('../images/heroGraphic.png');
        background-color: transparent;
        background-size: 65%;
        background-position: bottom center;
        padding-right: 12rem;
        flex: 1;
    }

    & .text {
        text-align: center;
        flex-direction: column;
        padding-left: 14rem;

        p {
            color: var(--cream);
            width: 18rem;
            padding-top: 2rem;
            margin-top: 3rem;
        }

    }


}