
:root{
    /*colors */
    --darkBlue: hsl(233, 26%, 24%);
    --cream: #FFFDD0;
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0,0%,98%);
    --white: hsl(0, 0%, 100%);
    --lightPink: #ee6787;
    --peach: #f6cc9e;
    --lightBlue: #88c6dd;

    /*font sizes*/
    --font-sm: 0.875rem; /*14px*/
    --font-med: 1.125rem; /*18px*/
    --font-lrg: 1.25rem; /*20px*/
    --font-xl: 3.25rem; /*52px*/
    
}


