* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", serif;
}

/* Ensure body takes full viewport height */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styling */
header {
    background: linear-gradient(to right, #ee6787 70%, #f6cc9e);
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.message {
    margin: 1.2rem;
    background-color: rgb(246, 254, 255);
    padding: 0.6rem;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 0.9rem;
}

/* Main content section */
main {
    flex-grow: 1;
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Button styling */
button {
    padding: 0.6rem 0.9rem;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    background-color: turquoise;
    color: white;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

button:hover {
    background-color: rgb(32, 147, 135);
}

/* User inputs section */
.user-inputs {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Heading styling inside user-inputs */
.user-inputs h4 {
    margin-bottom: 0.5rem;
}

/* Input fields section */
.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.input-fields>* {
    width: 20rem;
    padding: 0.3rem;
}

/* Output section (chart + totals) */
.output {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

/* Styling for totals block */
.totals {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(246, 254, 255);
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.totals>p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

.lists ul {
    width: 20rem;
    height: 20rem;
    overflow: scroll;
    list-style-type: none;
    background-color: rgb(246, 254, 255);
    padding: 1.2rem;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

ul li {
    margin-bottom: 0.5rem;
    padding-right: 0.3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

ul li:not(:last-child) {
    border-bottom: 1px solid rgb(32, 32, 32);
}

/* HR styling */
hr {
    width: 100%;
}

/* Chart styling */
.chart {
    width: 16rem;
}

/* Footer styling */
footer {
    background: linear-gradient(to right, #ee6787 70%, #f6cc9e);
    padding: 1rem 2rem;
    width: 100%;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}